<!-- Gabriela Micaela Primo dos Santos/01636751 
     Matheus Batista Rodrigues da Silva/01612096
     Miguel Moura da Paz Gouveia/01608736
     Gabriel da Silva Monteiro/01614815  -->

<header class="header">
  <h1 class="logo">Receitas Gabritela</h1>
  <div class="header-content">
    <nav class="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>  

<section class="recipe-types">
  <h2>NOSSAS RECEITAS</h2>
  <div class="recipe-list">
    <p class="recipe-item">• Pães</p>
    <p class="recipe-item">• Doces</p>
    <p class="recipe-item">• Massas</p>
    <p class="recipe-item">• Salgadas</p>
  </div>
</section>

<section class="welcome-text">
  
<p>Bem-vindo ao nosso app de receitas, seu novo companheiro na cozinha! Aqui, você encontra tudo o que precisa para transformar qualquer refeição em uma experiência deliciosa e inesquecível. Seja você um iniciante na cozinha ou um chef experiente, nosso app foi pensado para inspirar e facilitar o seu dia a dia com receitas práticas, rápidas e saborosas para todos os gostos e ocasiões...</p>
<img src="https://www.casadosdoces.com/e-commerce/images/home/girl1.jpg" alt="Imagem de boas-vindas" />
</section>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; Receitas Gabritela. Todos os direitos reservados.</p>
  </div>
</footer>

